{% extends 'base.html' %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'program/css/dashboard.css' %}">
<div class="container">
    <h3 class="mb-5">{{ program.alias }}</h3>
    <div class="card mb-5">
        <div class="card-header">
            Flashcard
        </div>
        <div class="card-body">
            {% if flashcard %}
            <div>
                <h4>You learned {{ flashcard.progress }} % of this flashcard!</h4>
            </div>
            <div class="progress mb-3">
                <div class="progress-bar bg-success" role="progressbar" style="width: {{ flashcard.progress }}%"
                     aria-valuenow="{{ flashcard.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <a class="btn btn-outline-secondary btn-lg btn-block"
               href="{%url 'program:flashcard' program_id=program.id %}">
                Continue
            </a>
            {% else %}
            <a class="btn btn-outline-secondary btn-lg btn-block"
               href="{%url 'program:flashcard' program_id=program.id %}">
                Create
            </a>
            {% endif %}
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="recent">
                <div>
                    <h4>Recent Vocabularies</h4>
                </div>
                <div class="recent-vocab">
                    {% for understanding in recent_learned_vocab_understandings %}
                    <button type="button" class="btn vocab-flipper">{{ understanding.vocabulary.word.rep }}</button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <div class="progress-chart">
                <div class="card">
                    <div class="card-header">
                        Overall Progress
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="chart-container">
                                <canvas id="progressDonut"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <p>
                So far, you have learned {{ current_progress.learned }} word.
            </p>
        </div>
    </div>


</div>

<script src="{% static 'program/js/dashboard.js' %}"></script>
<script>
    var learned = {{ current_progress.learned }}
    var reviewing = {{ current_progress.reviewing }}
    var total = {{ current_progress.total }}

    var labels = ['Learned', 'Reviewing', 'New']
    var data = [learned, reviewing, total - (learned + reviewing)]
    var id = "progressDonut"
    loadPieChart(id, labels, data)





</script>
{% endblock %}

