{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'program/css/flashcard.css' %}">

{% block content %}
<div class="container">
    <p>
        {{ vocabulary.word.rep }}
    </p>
    <p>
        {% if understanding.score >= 5 %}
            <span class="badge badge-pill badge-success">Learned</span>
        {% elif understanding.score > 0 %}
            <span class="badge badge-pill badge-warning">Reviewing</span>
        {% else %}
            <span class="badge badge-pill badge-light">New Word</span>
        {% endif %}
    </p>

    {% if vocab_translation %}
        <div class="card">
          <div class="card-body">
        {% for translation in vocab_translation.all %}
            <div>
                {% if not translation.category %}
                    <h5>
                        {% for speech in translation.speeches.all %}
                            <span class="badge badge-pill badge-info lb-lg">{{ speech.rep }}</span>
                        {% endfor %}
                    </h5>

                    <p>{{ translation.rep }}</p>
                {% elif vocab_translation.all.count == 1 %}
                    <h5>
                        <span class="badge badge-pill badge-warning lb-lg">{{ translation.category }}</span>
                    </h5>

                    <p>{{ translation.rep }}</p>
                {% endif %}

            </div>
        {% endfor %}
          </div>
        </div>

    {% else %}
        <p>No words are available.</p>
    {% endif %}

    <div class="btn-group w-100 mt-3" role="group" aria-label="Understanding">
        <div class="w-50 mr-1">
            <form action="{% url 'program:up_score' program.id vocabulary.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-success w-100">I know this word</button>
            </form>
        </div>
        <div class="w-50 ml-1">
            <form action="{% url 'program:down_score' program.id vocabulary.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-warning w-100">Not familiar with it</button>
            </form>
        </div>


    </div>
    <div class="progress mt-3">
      <div class="progress-bar bg-success" role="progressbar" style="width: {{ flashcard.progress }}%" aria-valuenow="{{ flashcard.progress }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

{% endblock %}