.holder {
    position: relative;
}
.search-dropdown {
    margin-top: calc(1.5em + 1rem + 10px);
    position: absolute;
    border: 1px solid grey;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
    background: white;
    z-index: 50;
}

#vocab-search:not(:placeholder-shown) + .search-dropdown {
    display: block;
}

#vocab-search:placeholder-shown + .search-dropdown{
    display: none;
}