{% extends 'base.html' %}


{% block content %}
<div class="container">
    {% if flashcard %}
        <a href="{%url 'program:continue_flashcard' program_id=program.id %}">Continue</a>
    {% else %}
        <a href="{%url 'program:new_flashcard' program_id=program.id %}">Start Learning</a>
    {% endif %}

    <p>
        Learnt {{ current_progress.learnt }} / {{ current_progress.total }}
    </p>
    <p>
        Know {{ current_progress.know }} / {{ current_progress.total }}
    </p>
</div>
{% endblock %}

