{% extends 'base.html' %}


{% block content %}
<div class="container">
    {% if flashcard %}
        <a href="{%url 'program:flashcard' program_id=program.id %}">Continue</a>
    {% else %}
        <a href="{%url 'program:flashcard' program_id=program.id %}">Start Learning</a>
    {% endif %}

    <p>
        Learned {{ current_progress.learned }} / {{ current_progress.total }}
    </p>
    <p>
        Reviewing {{ current_progress.reviewing }} / {{ current_progress.total }}
    </p>
</div>
{% endblock %}

